body {
    margin: 20px;
    background-color: #C6FDFB;
}

h1 {

    text-align: center;
}

h2 {
    background-color: #6a5acd 
}



@media (max-width: 600px)  {
  body {
    background-color: lavender;
  }
}
@media (min-width: 601px) {
  body{
    font-size: 30px;
  }
  @media (max-width: 700px) {

div.large {

display: none;

}

}
